@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --agnostic-font-family: font-family: 'Roboto', sans-serif;
  /* In light mode we willl have white text against a dark green background. */
  --agnostic-light-modelight: #ffebee;
  --agnostic-primary-modelight: #ff1744;
  --agnostic-primary-hover-modelight: #ef5350;
  /* In dark mode we'll invert the text color and use a much lighter shade of green */
  --agnostic-primary-modedark: var(--agnostic-primary-modelight);
  --agnostic-light-modedark: #2b2b2b;
  --agnostic-primary-hover-modedark: var(--agnostic-primary-hover-modelight);
  --agnostic-focus-ring-outline-color: var(--agnostic-primary-modelight);
  --plain: #fff;
  --plain-invert:#131313;
  --plain-opacity: rgba(255, 255, 255, 0.31);
  --border-radius:0.4rem;
  
}
/* But, if user's set their OS to prefer dark, we instead use that */
@media (prefers-color-scheme: dark) {
  :root{
    --agnostic-primary: var(--agnostic-primary-modedark);
    --agnostic-light: var(--agnostic-light-modedark);
    --plain: #121212;
    --plain-invert: #fff;
    --plain-opacity: rgba(0, 0, 0, 0.31);

  }
}

*{
  box-sizing: border-box;
}

html {font-size: 100%;} /*16px*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--agnostic-light);
  overflow-x: hidden;
}


p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}
@media (max-width: 768px){
   h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text_small {font-size: 0.889rem;}
}
blockquote{
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  text-align: center;
  font-style: italic;
  font-size: large;
}

ol, ul{
  padding: 0 2rem 1rem 2rem ;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--agnostic-primary);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--agnostic-primary), 0 0 5px var(--agnostic-primary);
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--agnostic-primary);
  border-left-color: var(--agnostic-primary);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


details[open] summary{
  background-color: var(--plain);
  scale: 1.01;
  box-shadow: 0px 0px 20px 4px rgba(57, 28, 28, 0.058);
  transition: all 0.25s ease-in-out;
  z-index: 2;
}
summary{
  cursor: pointer;
  padding: 1rem;
  border-radius: var(--border-radius);
}
.disclose,details{
  padding: 0;
}
.disclose summary{
  padding: 1rem ;
}