@font-face {
    font-family: "EB Garamond", serif;
    src: url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: var(--red-a400);
    text-decoration: none;
}
.routines{
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
/* media query for desktop*/
@media only screen and (min-width: 992px) {
    .hero-logo{
        width: 30%;
    }
}